<div class="message-position" *ngIf="messageService.getMessage().messageText">
  <div role="alert" class="alert" [ngClass]="{
        'alert-info': messageService.getMessage().messageStatus === infoMessage,
        'alert-success': messageService.getMessage().messageStatus === successMessage,
        'alert-danger': messageService.getMessage().messageStatus === errorMessage,
        'alert-warning': messageService.getMessage().messageStatus === warningMessage
      }">
    <i class="fas fa-times cursor-pointer" (click)="messageService.clear()"></i>
    {{messageService.getMessage().messageText}}
  </div>

</div>
