<div class="message-position cursor-pointer" *ngIf="messageService.getMessage().messageText">
  <div role="alert" class="alert" (click)="messageService.clear()" [ngClass]="{
        'alert-info': messageService.getMessage().messageStatus === infoMessage,
        'alert-success': messageService.getMessage().messageStatus === successMessage,
        'alert-danger': messageService.getMessage().messageStatus === errorMessage,
        'alert-warning': messageService.getMessage().messageStatus === warningMessage
      }">
    {{messageService.getMessage().messageText}}
    <i class="fas fa-times fa-lg"></i>
  </div>

</div>
