<div class="container">
  <div class="order-tab" *ngFor="let order of orders">
    <ul class="my-list-group">
      <li class="row list-title">
        <div class="col-lg-2 col-xs-12"><b>Order id</b></div>
        <div class="col-lg-2 col-xs-12 "><b>Update date</b></div>
        <div class="col-lg-2 col-xs-12"><b>Status</b></div>
      </li>
      <li class="row list-content">
        <div class="col-lg-2 col-xs-12">{{order.id}}</div>
        <div class="col-lg-2 col-xs-12 ">{{order.createdAt  | date:'HH:mm  dd.MM.y'}}</div>
        <div class="col-lg-2 col-xs-12 ">{{order.orderStatus}}</div>
      </li>
    </ul>
    <ul class="my-list-group">
      <li class="row list-title">
        <div class="col-lg-2 col-xs-12 "><b>Medicine name</b></div>
        <div class="col-lg-2 col-xs-12 "><b>Medicine class</b></div>
        <div class="col-lg-2 col-xs-12 "><b>Medicine price</b></div>
      </li>
      <li class="row list-content">
        <div class="col-lg-2 col-xs-12 ">{{order.medicine.name}}</div>
        <div class="col-lg-2 col-xs-12 ">{{order.medicine.medClass}}</div>
        <div class="col-lg-2 col-xs-12 ">{{order.medicine.price}}</div>
      </li>
    </ul>
    <ul class="my-list-group">
      <li class="row list-title">
        <div class="col-lg-2 col-xs-12 list-content"><b>Diagnosis</b></div>
        <div class="col-lg-2 col-xs-12 list-content"><b>Amount</b></div>
      </li>
      <li class="row list-content">
        <div class="col-lg-2 col-xs-12 ">{{order.receipt.diagnos}}</div>
        <div class="col-lg-2 col-xs-12 ">{{order.receipt.amout}}</div>
      </li>
    </ul>
    <ul class="my-list-group">
      <li class="row list-title">
        <div class="col-lg-2 col-xs-12 "><b>Patient name</b></div>
        <div class="col-lg-2 col-xs-12 "><b>Patient surname</b></div>
        <div class="col-lg-2 col-xs-12 "><b>Patient midname</b></div>
        <div class="col-lg-2 col-xs-12 "><b>Patient phone</b></div>
      </li>
      <li class="row list-content">
        <div class="col-lg-2 col-xs-12 ">{{order.patient.name}}</div>
        <div class="col-lg-2 col-xs-12 ">{{order.patient.surname}}</div>
        <div class="col-lg-2 col-xs-12 ">{{order.patient.midname}}</div>
        <div class="col-lg-2 col-xs-12 ">{{order.patient.number}}</div>
      </li>
    </ul>
    <ul class="my-list-group">
      <li class="row list-title">
        <div class="col-lg-2 col-xs-12 "><b>Doctor name</b></div>
        <div class="col-lg-2 col-xs-12 "><b>Doctor surname</b></div>
        <div class="col-lg-2 col-xs-12 "><b>Doctor midname</b></div>
      </li>
      <li class="row list-content">
        <div class="col-lg-2 col-xs-12 ">{{order.doctor.name}}</div>
        <div class="col-lg-2 col-xs-12 ">{{order.doctor.surname}}</div>
        <div class="col-lg-2 col-xs-12 ">{{order.doctor.midname}}</div>
      </li>
    </ul>
  </div>

</div>
