


.order-tab{
  background-color: rgb(249, 253, 255);
  border-style: groove;
  border-radius: 5px;
  padding: 10px;
  margin-top: 40px;
  ul {
    list-style-type: none;
    padding: 0;
    border: 1px solid #ddd;
    li {
      padding: 8px 16px;
      border-bottom: 1px solid #ddd;
    }
    li:last-child {
      border-bottom: none;
      padding: 8px 16px 0px 16px;
    }
    .list-title{
      width: 100%;
      margin-left: 0px;
      background-color: rgb(223, 244, 255);
    }
    .list-content{
      width: 100%;
      margin-left: 0px;
    }
  }
}


