@import "~bootstrap/dist/css/bootstrap.css";
@import url("https://netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css");


li{
  cursor: pointer;
}

.cursor-pointer{
  cursor: pointer;
}

.footer{
  height: 100px;
  width: 100%;
}

.message-position{
  position: fixed;
  bottom: 10px;
  right: 0;
  .message-text{
    margin: 30px;
  }
}




