@import "~bootstrap/dist/css/bootstrap.css";
@import "~font-awesome/css/font-awesome.css";

li{
  cursor: pointer;
  z-index: 100;
}

.footer{
  height: 100px;
  width: 100%;
}

.message-position{
  position: fixed;
  bottom: 10px;
  right: 0;
  .message-text{
    margin: 30px;
  }
}


