<div class="container">
    <div *ngIf="!switchToResult">
      <div class="row">
        <div class="col-xs-12">
          Find users that are waiting for the order (order status == IN_PROD)
        </div>
      </div>
      <div class="row">
        <div class="btn-group mr-3">
          <div class="btn-group" ngbDropdown role="group" aria-label="Patient Waiting">
            <button class="btn btn-outline-primary" ngbDropdownToggle>Class(optional)</button>
            <div class="dropdown-menu" ngbDropdownMenu>
              <button class="dropdown-item">ALL</button>
              <button class="dropdown-item" (click)="setMedClass(medClassPills)">PILLS</button>
              <button class="dropdown-item" (click)="setMedClass(medClassOintment)">OINTMENT</button>
              <button class="dropdown-item" (click)="setMedClass(medClassLiquid)">LIQUID</button>
              <button class="dropdown-item" (click)="setMedClass(medClassPowder)">POWDER</button>
            </div>
          </div>
          <button type="button" class="btn btn-outline-success" (click)="getPatientWaiting()">Find</button>
        </div>
      </div>
    </div>
    <div *ngIf="switchToResult">
      <div class="row">
        <button type="button" class="btn btn-default" (click)="switchToResult = false">Back to queries</button>
      </div>
      <div class="order-tab" *ngFor="let result of results">
        <ul class="my-list-group">
          <li class="row list-title">
            <div class="col-lg-12"><b>Medicine name</b></div>
          </li>
          <li class="row list-content">
            <div class="col-lg-12 ">{{result[0]}}</div>
          </li>
        </ul>
        <ul class="my-list-group">
          <li class="row list-title">
            <div class="col-lg-1 col-xs-12 "><b>ID</b></div>
            <div class="col-lg-2 col-xs-12 "><b>Phone</b></div>
            <div class="col-lg-2 col-xs-12 "><b>Name</b></div>
            <div class="col-lg-2 col-xs-12 "><b>Surname</b></div>
            <div class="col-lg-2 col-xs-12 "><b>Midname</b></div>
            <div class="col-lg-2 col-xs-12 "><b>Address</b></div>
            <div class="col-lg-1 col-xs-12 "><b>Age</b></div>
          </li>
          <li class="row list-content">
            <div class="col-lg-1 col-xs-12 ">{{result[1]}}</div>
            <div class="col-lg-2 col-xs-12 ">{{result[8]}}</div>
            <div class="col-lg-2 col-xs-12 ">{{result[7]}}</div>
            <div class="col-lg-2 col-xs-12 ">{{result[9]}}</div>
            <div class="col-lg-2 col-xs-12 ">{{result[6]}}</div>
            <div class="col-lg-2 col-xs-12 ">{{result[4]}}</div>
            <div class="col-lg-1 col-xs-12 ">{{result[5]}}</div>
          </li>
        </ul>
      </div>
    </div>

</div>
